<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="image/png" th:href="@{assets/img/favicon.png}">
    
    <title>BAD CAR PARTS &#39;R&#39; US</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style>
	.card {display: inline-block;padding: 10px 0px 0px 10px}
	.card-img {width: 75%}
	@media (min-width: 576px){.card-column {column-count: 2;}}
	@media (min-width: 750px){.card-column {column-count: 3;}}
	@media (min-width: 900px){.card-column {column-count: 4;}}
	@media (min-width: 1200px){.card-column {column-count: 5;}}
	</style>
</head>
<body>
	<div class="container-fluid" style="background: #6cddbc; height:100vh; padding-top:15vh;">
		
		<div class="container align-middle text-center rounded" style="background: #FFFFFF; height:60vh; width:40vw;padding-top:4vh;">
			<hr><h1> ADMIN LOGIN</h1>
			<form class="form-group" method="post" th:action="@{/login}">
				<hr>
				<label class="form-text" for="id" style="font-size:20px;">UserName:</label><br>
				<input type="text" id="id" name="id" required><br>
				<label class="form-text" for="pass" style="font-size:20px;">Password:</label><br>
				<input type="password" id="pass" name="pass" required><br><br>
				<input class="btn btn-primary" type="submit" value="Login" /><hr>
				
			</form>	
		</div>
	</div>
</body>
</html>
